mixin iStepCard(number, title, dscr, link)
    .i-step-card
        p.i-step-card__number=number
        h3.i-step-card__title=title
        p.i-step-card__dscr=dscr
        if link === true
            a.i-step-card__link требованиями
