mixin page(activePage, title, wrpClass)
  - var viewTitle = title ? `Анкил - ${title}` : "Анкил"
  doctype html
  html(lang='ru')
    head

      meta(charset='UTF-8')
      meta(http-equiv="X-UA-Compatible" content="ie=edge")
      meta(name='viewport' content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
      title=viewTitle

      link(href='https://unpkg.com/swiper@6/swiper-bundle.min.css' rel='stylesheet')
      link(href='assets/css/styles.min.css' rel='stylesheet')

    body(class='page')
      include ../svgSprites
      if activePage === 'insuranceBusiness'
        include ../headerInsuranceBusiness
      else 
        include ../header
      main(class=`main ${wrpClass}`)
        block


      include ../footer

    script(src='https://unpkg.com/swiper@6/swiper-bundle.min.js')
    script(src='assets/js/index.js')
