include ../components/mixins/page
include ../components/mixins/btn
include ../components/mixins/editionCard

+page('author', 'Автору', 'author-page')
    section.text
        .container.text__container
            .text__block
                h3.text__title Требования к статьям
                ol.text__list.list-reset
                    li.text__item 1. Статья должна быть оригинальной, не опубликованной ранее и не представленной к печати в других изданиях.
                    li.text__item 2. В приложении к статье должны быть даны аннотация (до 200 знаков) и ключевые слова на русском и английском языках.
                    li.text__item 3. Статья обязательно должна содержать вступительную и заключительную части, в которых отражаются цель написания статьи и выводы автора, содержащие описание возможностей практического применения.
                    li.text__item 4. Весь библиографический аппарат должен быть оформлен в соответствии с требованиями, предъявляемыми к научным публикациям.
                    li.text__item 5. Одновременно предоставляются вариант английского написания фамилии автора, названия статьи и ключевых слов.
                    li.text__item 6. Если автор не имеет научных степеней по теме представленной статьи, необходимо предоставить рецензию и контактные данные рецензента.
                    li.text__item 7. Предполагается, что автор при написании статей пользуется несколькими источниками.
            .text__block
                h3.text__title Технические требования
                ol.text__list.list-reset
                    li.text__item  1. Статья должна предоставляться в редакцию, набранная общедоступным шрифтом 12 пт с полуторным интервалом, в электронном (Word, OpenOffice) виде.
                    li.text__item 2. На страницах должны быть проставлены номера и оставлены поля.
                    li.text__item 3. При наборе формул должны быть использованы формульные редакторы: MSEquation, MathType 4 или OpenOffice. При этом однострочные формулы могут быть набраны обычным текстом с надстрочными и подстрочными индексами.
                    li.text__item 4. Формулы, таблицы и сноски (не концевые) должны быть оформлены стандартными средствами редактора.
                    li.text__item 5. Графики, диаграммы и т.п. могут быть оформлены в Word, Excel или OpenOffice и вставлены в текст по смыслу. Допускается использование графического векторного файла в формате wmf/emf или cdr v.10. Такие объекты должны быть пронумерованы и иметь название.
            .text__block
                h3.text__title Авторское право
                p.text__item Автор соглашается с условиями публикации статьи в журнале с учетом следующего:
                ol.text__list.list-reset
                    li.text__item  1. Издательство получает исключительное право на публикацию и распространение статьи под именем автора, включая переиздание, опубликование в электронном виде и иными доступными способами, а также перевод статьи или ее части на иностранные языки.
                    li.text__item 2. Автор имеет право однажды опубликовать статью в другом издании (предварительно указать) с обязательной ссылкой на первую публикацию. При публикации в Интернете автор обязуется указать сроки публикации и источник публикации с активной гиперссылкой на страницу журнала — http://www.ankil.info/36.html, и следить за ее актуальностью в случае изменения этого адреса. Автор и третьи лица обязаны получить предварительное письменное согласие издательства на публикацию статьи в других изданиях или по другим адресам в Интернете, а также при распространении текстов опубликованных статей за плату. Автор, при обращении к нему третьих лиц, должен сообщить о таких условиях.
                    li.text__item Ответственность за достоверность фактов, изложенных в материалах номера, несут их авторы.
            .text__warning
                .text__warning-header
                    svg.text__warning-icon(width="32" height="32" viewBox="0 0 32 32")
                        use(xlink:href="#warning")
                    h4.text__warning-title Внимание авторов
                .text__warning__dscr Для продвижения журнала в современном научно-образовательном пространстве, а также для повышения эффективности своей работы и доступности научной информации широкому кругу читателей, авторов на территории России, стран СНГ и Балтии, все текущие статьи номеров журнала размещаются в базе данных РИНЦ с полным текстом.
    
    section.edition
        .container
            h2.edition__main-title Редакционный совет
            .edition__content
                h3.edition__title Страховое дело
                .edition__grid
                    +editionCard('1', 'Юлдашев Рустем Турсунович', 'Профессор, профессор кафедры управления рисками и страхования МГИМО МИД России, академик РАЕН.')
                    +editionCard('2', 'Адамчук Наталья Георгиевна', 'Профессор кафедры управления рисками и страхования МГИМО МИД РФ.')
                    +editionCard('3', 'Цыганов Александр Андреевич', 'Профессор, зав. кафедрой страхового дела Финансового университета при Правительстве РФ – председатель редакционного совета.')
                    +editionCard('4', 'Ахвледиани Юлия Тамбиевна', 'Профессор кафедры страхования РЭУ им. Г. В. Плеханова, член Экспертного совета по законодательству о страховании')
                    +editionCard('5', 'Белозёров Сергей Анатольевич', 'Профессор, зав. кафедрой управления рисками и страхования СПбГУ (г. Санкт-Петербург).')
                    +editionCard('6', 'Котлобовский Игорь Борисович', 'Проректор МГУ им. М. В. Ломоносова, зав. кафедрой управления рисками и страхования экономического ф-та МГУ.')
                h3.edition__title Управление риском
                .edition__grid.mb0
                    +editionCard('7', 'Мельников Александр Викторович', 'Профессор, академик РАЕН, факультет математических и статистических наук Университета провинции Альберта (Эдмонтон, Канада).')
                    +editionCard('8', 'Бронштейн Ефим Михайлович', 'Профессор кафедры вычислительной математики и кибернетики Уфимского государственного авиационного технического университета.')
                    +editionCard('1', 'Юлдашев Рустем Турсунович', 'Профессор, профессор кафедры управления рисками и страхования МГИМО МИД России, академик РАЕН.')
                    +editionCard('10', 'Генкин Артем Семенович', 'Профессор, президент АНО «Центр защиты вкладчиков и инвесторов».')
                    +editionCard('11', 'Акимов Валерий Александрович', 'Профессор, начальник Всероссийского научно-исследовательского института по проблемам гражданской обороны и чрезвычайных ситуаций МЧС России.')
                    +editionCard('12', 'Лесных Валерий Витальевич', 'Профессор, директор Центра анализа рисков, управления промышленной безопасностью и гражданской защитой, ООО «Газпром ВНИИГАЗ».')

    section.documents
        .container
            .documents__block
                .documents__header
                    h2.documents__main-title Правила рецензирования
                    .documents__download
                        svg.documents__icon(width="19" height="19" viewBox="0 0 19 19")
                            use(xlink:href="#download")
                        a.documents__link(href="/" download) Скачать документ
                .documents__body
                    h3.documents__title Общие положения
                    ol.documents__list.list-reset
                        li.documents__item 1. Процедура рецензирования статей, поступивших в редакцию издательства «Анкил», направлена на обеспечение качества публикуемых в журналах статей. Рецензирование проходят все статьи, поступившие в редакцию для опубликования. При поступлении рукописи статьи в редакцию все авторы предупреждаются о процедуре рецензирования.
                        li.documents__item 2. Рецензия должна обеспечивать всестороннюю и объективную оценку, анализ достоинств и недостатков представленной статьи.
                        .gradient
                            li.documents__item 3. Рецензенты издательства «Анкил» являются признанными специалистами по тематике рецензируемых материалов и имеют публикации по тематике рецензируемой статьи в течение последних трёх лет. К рецензированию привлекаются как члены редакционного совета журнала, так и сторонние рецензенты, как правило, имеющие учёную степень кандидата или доктора наук, обладающие достаточным опытом научной работы по заявленному в статье научному направлению, знакомые с требованиями, предъявляемыми редакцией журнала к публикуемым материалам. Фамилии и место работы рецензентов редакцией не разглашаются.
                            li.documents__item 4. Процедура рецензирования статей, поступивших в редакцию издательства «Анкил», направлена на обеспечение качества публикуемых в журналах статей. Рецензирование проходят все статьи, поступившие в редакцию для опубликования. При поступлении рукописи статьи в редакцию все авторы предупреждаются о процедуре рецензирования.
                        .el-center.documents__el-center
                            +btn('documents__btn btn--grey') Читать далее
            .documents__block
                .documents__header
                    h2.documents__main-title Система качества издательства 
                    .documents__download
                        svg.documents__icon(width="19" height="19" viewBox="0 0 19 19")
                            use(xlink:href="#download")
                        a.documents__link(href="/" download) Скачать документ
                .documents__body
                    h3.documents__title Общие положения
                    .documents__text-block
                        p.documents__item Общество с ограниченной ответственностью «АНКИЛ» 
                        p.documents__item Утверждаю 
                        p.documents__item.documents__item--mb Генеральный директор ООО «АНКИЛ» Юлдашев Р.Т. «30» мая 2016 г.
                        p.documents__item РУКОВОДСТВО ПО КАЧЕСТВУ(новая редакция)г. Москва Юридический статусООО «Анкил» имеет статус юридического лица и организационную структуру, соответствующую требованиям действующего законодательства.Организационно-правовая форма: Общество с ограниченной ответственностью.Полное наименование: Общество с ограниченной ответственностью «Анкил». Сокращенное наименование: ООО «Анкил». Местонахождение, реквизиты и контакты ankil.info/15.html1. Управление Руководством по качеству
                    ol.documents__list.list-reset
                        .gradient
                            li.documents__item 1. За разработку и внесение изменений в «Руководстве по качеству» несет ответственность заместитель генерального директора ООО «Анкил».
                            li.documents__item 2. «Руководство по качеству» утверждается Генеральным директором ООО «Анкил» и вводится в действие приказом по организации.
                            li.documents__item 3. Все экземпляры «Руководства по качеству» пронумерованы, зарегистрированы и выдаются под роспись.
                            li.documents__item 4. Все экземпляры «Руководства по качеству» пронумерованы, зарегистрированы и выдаются под роспись.
                            li.documents__item 5. Все экземпляры «Руководства по качеству» пронумерованы, зарегистрированы и выдаются под роспись.
                        .el-center.documents__el-center
                            +btn('documents__btn btn--grey') Читать далее
            .documents__last-block
                .documents__header
                    h2.documents__main-title Этические принципы
                    .documents__download
                        svg.documents__icon(width="19" height="19" viewBox="0 0 19 19")
                            use(xlink:href="#download")
                        a.documents__link(href="/" download) Скачать документ
                .documents__body
                    h3.documents__title Основные принципы
                    ol.documents__list.list-reset
                        li.documents__item 1. Этические нормы редакции. Редакционная команда журнала в своей деятельности руководствуется принципами научности, объективности, профессионализма, беспристрастности.
                        li.documents__item 2. Ответственность за соблюдение этических норм. Исследователи, авторы, редакторы, рецензенты и издатели несут этические обязательства в отношении публикации и распространения результатов научного исследования.
                        .gradient
                            li.documents__item 3. Нормы общения с авторами. Взаимодействие с авторами основывается на принципах справедливости, вежливости, объективности, честности и прозрачности.
                            li.documents__item 4. Наличие института рецензирования. Все содержание журнала, кроме рекламных и редакционных материалов, четко обозначенных как таковые, проходит обязательное рецензирование независимыми экспертами (открытое, слепое, двойное слепое). Предпочтительным является двойное слепое рецензирование.
                            li.documents__item 5. Доступ к публикациям. Журналы гарантируют доступ к публикациям, обеспечивая хранение материалов в ведущих библиотеках
                            li.documents__item 6. Доступ к публикациям. Журналы гарантируют доступ к публикациям, обеспечивая хранение материалов в ведущих библиотеках
                            li.documents__item 7. Доступ к публикациям. Журналы гарантируют доступ к публикациям, обеспечивая хранение материалов в ведущих библиотеках
                        .el-center.documents__el-center
                            +btn('documents__btn btn--grey') Читать далее
                



