include ../components/mixins/page
include ../components/mixins/btn
include ../components/mixins/aboutCard
include ../components/mixins/numberCard
include ../components/mixins/bookCard
include ../components/mixins/tag

+page('main', 'Главная', 'index-page')
   section.hero-about.section
      img.hero-about__img.hero-about__img--block(src="./assets/images/hero-bg-xxs.png", alt="Фон")
      .container.hero-about__container
         img.hero-about__img.hero-about__img--none(src="./assets/images/hero-bg.png", alt="Фон")
         h1.main-title.z-index Обмен знаниями для содействия научному прогрессу
         +btn('hero-about__btn z-index') К журналам →
         .hero-about__card-block.z-index
            +aboutCard('1', 'Публикуем качественные исследования')
            +aboutCard('2', 'Междисциплинарный обмен знаниями')
            +aboutCard('3', 'Открытый доступ к научным публикациям')
   section.numbers.section
      .container.numbers__container
         +numberCard('30+ лет', 'Издательской деятельности')
         +numberCard('200+', 'Изданных книг и журналов')
         +numberCard('5200', 'Довольных клиентов')
         +numberCard('30', 'Научных сотрудников высшей категории')
   section.section
      .container
         h2.section__title Наши книги
         .books
            +bookCard('1', 'Теория и практика страхования', 'Издательство «Анкил»', ['текст', 'аудио'], false, null)
            +bookCard('2', 'Страхование жизни: тарифы и резевы взносов. Финансовые основы страхования жизни', 'Издательство «Анкил»', ['аудио', 'аудио'], false, null)
            +bookCard('3', 'Экономика страхования и перестрахования', 'Издательство «Анкил»', ['текст', 'аудио'], false, null)
            +bookCard('4', 'Общества взаимного страхования', 'К.Е. Турбина · В.Н. Дядьков', ['аудио', 'аудио'], false, null)
            +bookCard('5', 'Введение в перестрахование', 'Кристоф Пфайффер', ['текст', 'аудио'], false, null)
            +bookCard('6', 'Транспортное страхование в России и странах Балтии', 'В.Н. Томилин', ['текст', 'аудио'], false, null)
            +bookCard('7', 'Финансовое управление в страховых компаниях (перевод с английского)', 'Издательство «Анкил»', ['аудио', 'аудио'], false, null)
            +bookCard('8', 'Введение в продажу страхования или как научиться продавать надежду', 'Р.Т. Юлдашев', ['текст', 'аудио'], false, null)
         .swiper.book-slider.none
            .swiper-wrapper
               .swiper-slide.book-slide
                  +bookCard('1', 'Теория и практика страхования', 'Издательство «Анкил»', ['текст', 'аудио'], false, null)
               .swiper-slide.book-slide
                  +bookCard('2', 'Страхование жизни: тарифы и резевы взносов. Финансовые основы страхования жизни', 'Издательство «Анкил»', ['аудио', 'аудио'], false, null)
               .swiper-slide.book-slide
                  +bookCard('3', 'Экономика страхования и перестрахования', 'Издательство «Анкил»', ['текст', 'аудио'], false, null)
               .swiper-slide.book-slide
                  +bookCard('4', 'Общества взаимного страхования', 'К.Е. Турбина · В.Н. Дядьков', ['аудио', 'аудио'], false, null)
               .swiper-slide.book-slide
                  +bookCard('5', 'Введение в перестрахование', 'Кристоф Пфайффер', ['текст', 'аудио'], false, null)
               .swiper-slide.book-slide.book-slide--center
                  span.btn.book-slide-btn →
                  a.book-slide-link(href="./market.html") Смотреть все
         .el-center
            a.btn.book-btn(href="./market.html") Смотреть всё →
   section.section.blue
      .blue__content
         svg.blue__icon(width="58" height="58" viewBox="0 0 58 58")
            use(xlink:href="#medal")
         h2.blue__title Главная задача — это популяризация и повышение уровня страховой культуры в России и странах СНГ
   section.section
      .container
       h2.section__title Наши издания включены в список ВАК
       .hac
         .hac__header
            h3.hac__list-title Страховое дело
            span.hac__info (ISSN 0869-7574)
         ul.hac__list.hac__list--mb.list-reset
            li.hac__item
               h4.hac__item-title Математические и инструментальные методы экономики (экономические науки)
               span.hac__number 08.00.13
            li.hac__item
               h4.hac__item-title Финансы (экономические науки)
               span.hac__number 5.2.4
            li.hac__item
               h4.hac__item-title Мировая экономика (экономические науки)
               span.hac__number 5.2.5
         .hac__header
            h3.hac__list-title Управление риском
            span.hac__info (ISSN 1684-6303)
         ul.hac__list.list-reset
            li.hac__item
               h4.hac__item-title Экономика и управление народным хозяйством (по отраслям и сферам деятельности) (экономические науки)
               span.hac__number 08.00.13
            li.hac__item
               h4.hac__item-title Математические и инструментальные методы экономики (экономические науки)
               span.hac__number 5.2.4
            li.hac__item
               h4.hac__item-title Экономическая теория (экономические науки)
               span.hac__number 5.2.1
            li.hac__item
               h4.hac__item-title Финансы (экономические науки)
               span.hac__number 5.2.4
            li.hac__item
               h4.hac__item-title Мировая экономика (экономические науки)
               span.hac__number 5.2.5

   section.section
      .container
         h2.section__title Тематическая направленность
         .tags
            .tags__block.tags__block--mb.tags__block--up
               h3.tags__title Страховое дело
               .tags__grid
                  +tag('Общая теория страхования и перестрахования', true)
                  +tag('Социально-политические и экономические уязвимости', true)
                  +tag('Организация страхового дела', true)
                  +tag('Страховое посредничество', true)
                  +tag('Взаимное страхование', true)

                  +tag('Страховое право', true)
                  +tag('Финансовая устойчивость страховой организации', true)
                  +tag('Актуарные расчеты', true)
                  +tag('Страховые продукты', true)
                  +tag('Страхование в системе управления рисками', true)
                  +tag('Мировой страховой рынок', true)
                  +tag('Теоретико-методологические проблемы социологии риска', true)
                  +tag('Управление рисками социокультурного развития России', true)
                  +tag('Мировое общество риска', true)
                  +tag('Социально-политические и экономические уязвимости', true)
                  .el-center.tags__el-center
                     +btn('tags__btn tags__btn--up btn--grey') Смотреть далее

            .tags__block.tags__block--down
               h3.tags__title Управление риском
               .tags__grid
                  +tag('Общая теория рисков и управления ими', false)
                  +tag('Теоретико-методологические проблемы социологии риска', false)
                  +tag('Оценка риска', false)
                  +tag('Управление рисками и экономическая безопасность', false)

                  +tag('Страхование в системе управления рисками', false)
                  +tag('Советы риск-менеджера', false)
                  +tag('Управление рисками социокультурного развития России', false)
                  +tag('Мировое общество риска', false)
                  +tag('Социально-политические и экономические уязвимости', false)
                  .el-center.tags__el-center
                     +btn('tags__btn tags__btn--down btn--grey') Смотреть далее
   section.section
         .article-card
            svg.article-card__icon(width="43" height="16" viewBox="0 0 43 16")
               use(xlink:href="#doubleArrow")
            h3.article-card__title Огромных возможностей страхования не знают ни президент, ни премьер, ни Дума. К великому сожалению!
            p.article-card__dscr В редакцию нашего журнала поступает большое количество вопросов о судьбах отечественного страхования. Мы сформулировали наиболее важные и острые вопросы и попросили ответить на Рустема Турсуновича Юлдашева.
         .container
            .article
               h3.article__title Короли знают о делах своих министров не больше, чем рогоносцы о делах своих жен
               p.article__quote Вольтер
               .article__body
                  p.article__text СД.: Предлагаем дать нашей дискуссии такое интригующее название, не возражаете?
                  p.article__text Р.Ю.: Не возражаю, тем более оно отражает состояние отечественного страхового рынка, его неиспользованные возможности. Считаю, что наш страховой рынок настолько недооценен, что просто диву даешься. Если посмотреть статистику развитых стран, то у них доля страхования в ВВП от 6–7% до 15–16%. При наших 1,5–2,0 процентах — разве это не безобразие? Остается только сетовать, что отечественные лидеры государства, экономики и общества не имеют сколько-нибудь серьезного представления о возможностях страхования для процветания нашей страны. Ищут резервы, а они-то под ногами: наклонись и подними!
                  p.article__text СД.: Откуда же взяться этим знаниям: все мы вышли из советской политэкономии.
                  p.article__text Р.Ю.: Действительно, в тех советских учебниках политэкономии почти не было информации о страховом бизнесе. Сам, будучи выпускником экономического факультета МГУ, не помню, чтобы сколько-нибудь серьезно изучали страхование. Разве только финансовые институты много лучше давали знания о страховании, поскольку готовили специалистов для Госстраха. Но это в прошлом, пора уже в современном страховании разбираться.
                  .gradient
                     p.article__text СД.: Однако если взять нашу статистику доходов от страхования, то налог на прибыль в размере 300–400 млн рублей в год вряд ли можно назвать интересной и перспективной для процветания цифрой.
                     p.article__text Р.Ю.: Все можно изменить, если включить организационный ресурс на уровне страны. Причем по всем основным параметрам ветвей власти: законодательной, исполнительной и судебной. Все можно изменить и довольно быстро решить многие проблемы, в том числе и растущего бюджетного дефицита.
                  .el-center.article__el-center
                     a.article__btn.btn(href="./article.html") Читать далее
   section.section--last-mb
      img.blue-wave(src="./assets/images/blue-wave-bg.jpg", alt="Волна")