include ../components/mixins/page
include ../components/mixins/btn
include ../components/mixins/aboutCard
include ../components/mixins/iStepCard
include ../components/mixins/accordionItem

+page('insuranceBusiness', 'Страховое дело', 'insurance-page')

    section.section.i-hero
        .container.i-hero__container
            .i-hero__content
                h1.main-title.i-hero__title Публикация статей в ВАК
                p.i-hero__dscr Ваша статья будет опубликована под руководством наших научных сотрудников
                a.i-hero__btn.btn(href='#i-question') Опубликовать статью →
    section.section.i-archive
        .container.i-archive__container
            .i-archive__block
                .i-archive__content
                    h2.i-archive__title.i-title Архив журналов
                    p.i-archive__dscr Перейдите по ссылке и посмотрите предыдущие выпуски
                    +btn('btn--transparent i-archive__btn') Смотреть журналы
    section.section.i-about
        .container
            h2.i-about__title.i-title О журнале
            .i-about__block
                p.i-about__text Научный журнал «Страховое дело» предназначен для опубликования основных результатов диссертаций на соискание ученой степени кандидата и доктора наук, а также для широкого круга ученых и специалистов страхового профиля, научно-исследовательских институтов, проектных организаций, промышленных предприятий и учебных заведений.
                button.i-about__more Смотреть всю информацию&nbsp;↓
                .i-about__hidden-block.none
                    p.i-about__text.i-about__text--mb В журнале освещаются теоретические и практические результаты научных исследований и разработок по следующим вопросам: 
                    span.i-about__item - общая теория страхования и перестрахования;
                    span.i-about__item - формы и виды страхования;
                    span.i-about__item - организация страхового дела;
                    span.i-about__item - взаимное страхование;
                    span.i-about__item - страховое посредничество;
                    span.i-about__item - страховое право;
                    span.i-about__item - финансовая устойчивость страховой организации;
                    span.i-about__item - актуарные расчеты;
                    span.i-about__item - страховые продукты;
                    span.i-about__item - страхование в системе управления рисками;
                    span.i-about__item - мировой страховой рынок;
                    span.i-about__item - теоретико-методологические проблемы социологии риска;
                    span.i-about__item - управление рисками социокультурного развития России;
                    span.i-about__item - мировое общество риска;
                    span.i-about__item - социально-политические и экономические уязвимости.
                    p.i-about__text Научный журнал "Страховое дело" (ISSN 0869-7574) входит в Перечень рецензируемых научных изданий, рекомендованных Высшей аттестационной комиссией (ВАК) при Министерстве науки и высшего образования РФ для публикации основных научных результатов диссертаций на соискание ученой степени доктора и кандидата наук по следующим научным специальностям:
                    p.i-about__text.i-about__text--bold 08.00.13 – Математические и инструментальные методы экономики (экономические науки)
                    p.i-about__text.i-about__text--bold 5.2.4. Финансы (экономические науки)
                    p.i-about__text.i-about__text--bold.i-about__text--bold-mb 5.2.5. Мировая экономика (экономические науки)
                    p.i-about__text Приглашаем ученых, работников системы высшего образования и специалистов к сотрудничеству в составе авторского коллектива журнала “Страховое дело”.
                    button.i-about__hidden Свернуть &nbsp;↑
    section.section.i-get
      .container
        h2.i-get__title.i-title После публикации вы получаете
        .i-get__grid
            +aboutCard('1', 'Публикации ВАК', 'Мы предлагаем гарантию публикации, чтобы вы могли быть полностью уверены в размещении вашего произведения')
            +aboutCard('2', 'Присвоение DOI', 'Мы предоставляем справку о публикации, чтобы вы могли иметь полное представление о результате вашего труда')
            +aboutCard('3', 'Гарантия публикации', 'Мы предлагаем всестороннее сопровождение публикации от начала до конца')
    section.section.i-step
      .container
        h2.i-step__title.i-title Этапы публикации
        .i-step__grid
            +iStepCard('1', 'Подача заявки', 'Вы высылаете статью в форме подачи заявки в соответствии с ' , './author.html')
            +iStepCard('2', 'Рецензирование', 'Рецензент проверяет текст и при необходимости указывает, какие правки следует внести')
            +iStepCard('3', 'Оплата', 'Согласовывается номер журнала публикации и оплачивается годовая подписка на журнал')
            +iStepCard('4', 'Публикация', 'После публикации вам на почту высылается электронный вариант')
    section.section.i-question(id='i-question')
        .container.i-question__container
            .i-question__content
                h2.i-title.i-question__title Хотите опубликоваться?
                p.i-question__dscr Для отправки статьи перейдите в электронную почту по ссылке или напишите по адресу   
                    a.i-question__link(href="mailto:info@ankil.info")  info@ankil.info
                a.btn.i-question__btn(href="mailto:info@ankil.info") Перейти в почту →
    section.section.i-accordion
        .container
            h2.i-accordion__main-title.i-title Ответы на вопросы
            .i-accordion__content
                .i-accordion__flex
                    +accordionItem('Вопрос 1', 'Ответ')
                    +accordionItem('Вопрос 2', 'Ответ')
                    +accordionItem('Вопрос 3', 'Ответ')
                    +accordionItem('Вопрос 4', 'Мы предлагаем всестороннее сопровождение вашей статьи от начала до конца, чтобы обеспечить успешную публикацию. Наша команда опытных редакторов и научных консультантов помогут вам с форматированием, структурой и оформлением статьи в соответствии с требованиями ведущих издательств и журналов. Мы обеспечим своевременное предоставление обратной связи, рекомендации по улучшению вашей работы и поддержку в процессе подачи в журналы или издательства. Мы ценим индивидуальные потребности и стремимся обеспечить наилучший результат в публикации вашей статьи.')
                    +accordionItem('Вопрос 5', 'Ответ')
                    +accordionItem('Вопрос 6', 'Ответ') 

                
















