include ../components/mixins/page
include ../components/mixins/journalCard

+page('journal', 'Журнал', 'journal-page')
    .section.journal
        .container
            h1.journal__title Выбирите журнал для публикации
            .journal__body
                +journalCard('1', 'Инновации в сфере страхования: актуальные методы и решения', '11 990₽', 'В журнале «Страховое дело» представлены научные статьи, посвящённые современным тенденциям и инновациям в сфере страхования. Журнал является площадкой для обсуждения новых методов оценки рисков, применения технологий блокчейн и искусственного интеллекта, а также развития цифровых технологий в страховой индустрии.', './insuranceBusiness.html')
                +journalCard('2', 'Эффективное управление рисками: стратегии, модели и практики', '11 990₽', 'Журнал «Управление рисками» посвящён изучению различных аспектов рисков, связанных с бизнесом, финансами, технологиями и другими отраслями. В журнале представлены научные исследования, модели управления рисками, анализ методологий и практические рекомендации.', '#')